.news-holder
	.news-header
		|НОВОСТИ
	ul
		li
			.preview-img-col
				img(src="", alt="")
			.preview-content-col
				time
					|21.08.2014
				a(href="#")
					|SVI-625M – IP-камера с моторизованным объективом и интеллектуальным подогревом
		li
			.preview-img-col
				img(src="", alt="")
			.preview-content-col
				time
					|21.08.2014
				a(href="#")
					|SVI-625M – IP-камера с моторизованным объективом и интеллектуальным подогревом
	.btn-all-news
		|ВСЕ НОВОСТИ