.ovservation-holder
	.observation.item
		figure.item
			img(src="images/cam-1.png", alt="")
		figure.item
			img(src="images/cam-1.png", alt="")
		figure.item
			img(src="images/cam-1.png", alt="")
		figure.item
			img(src="images/cam-1.png", alt="")