.ovservation-holder
	h1
		|УДАЛЕННОЕ ВИДЕОНАБЛЮДЕНИЕ
	.observation
		figure.item
			img(src="", alt="")
			figcaption
				|Квартира
		figure.item
			img(src="", alt="")
			figcaption
				|Квартира
		figure.item
			img(src="", alt="")
			figcaption
				|Квартира