.ovservation-holder
	.observation.item
		figure.item
			img(src="", alt="")
			figcaption
				|Квартира
		figure.item
			img(src="", alt="")
			figcaption
				|Квартира
		figure.item
			img(src="", alt="")
			figcaption
				|Квартира