.ovservation-holder
	ul.observation.similar
		li.item
			img(src="images/cam-1.png", alt="")
			p.name
				|ВЕБ-КАМЕРА
			p.article
				|DNS-0306ABS
			p.desc
				|640x480 (1280x960 с драйверами, USB 2.0)
			p.price
				|520 Р
			a(href="#").btn-md.btn-to-cart.centered
				|В КОРЗИНУ
		li.item
			img(src="images/cam-1.png", alt="")
			p.name
				|ВЕБ-КАМЕРА
			p.article
				|DNS-0306ABS
			p.desc
				|640x480 (1280x960 с драйверами, USB 2.0)
			p.price
				|520 Р
			a(href="#").btn-md.btn-to-cart.centered
				|В КОРЗИНУ
		li.item
			img(src="images/cam-1.png", alt="")
			p.name
				|ВЕБ-КАМЕРА
			p.article
				|DNS-0306ABS
			p.desc
				|640x480 (1280x960 с драйверами, USB 2.0)
			p.price
				|520 Р
			a(href="#").btn-md.btn-to-cart.centered
				|В КОРЗИНУ
		li.item
			img(src="images/cam-1.png", alt="")
			p.name
				|ВЕБ-КАМЕРА
			p.article
				|DNS-0306ABS
			p.desc
				|640x480 (1280x960 с драйверами, USB 2.0)
			p.price
				|520 Р
			a(href="#").btn-md.btn-to-cart.centered
				|В КОРЗИНУ