.ovservation-holder
	h1
		|УДАЛЕННОЕ ВИДЕОНАБЛЮДЕНИЕ
	.observation.index
		figure.item
				.inner-holder
					img(src="images/m-room-img.png", alt="")
					figcaption
						|Квартира
		figure.item
				.inner-holder
					img(src="images/m-room-img.png", alt="")
					figcaption
						|Квартира
		figure.item
				.inner-holder
					img(src="images/m-room-img.png", alt="")
					figcaption
						|Квартира