footer
	.footer-white
		.telephone-holder
				p
					|8-800-200-80-30
				p
					|+7(495)345-45-46
			.email-holder
				a(href="mailto:info@netnord.com")
					|info@netnord.com
			.address-holder
				p
					|41540, Московская обл., 
					|пгт. Поварово,
					|ул. Ленинградская, д.2А, 
					|офис 14
	.footer-blue
		.inner-wrapper
			.logo-holder
				img(src="../images/m-footer-logo.png", alt="")
			.footer-content
				p.slogan
					|НЭТ-НОРД: <br/>ваша безопасность — наша работа
				p.copyright
					|ООО «НЭТ-НОРД» Все права защищены.