header
	.row
		.logo.pull-left
			img(src="", alt="")
		.phone.pull-left
			|8-800-200-80-30
		.btn-group.pull-right
			.btn-profile.pull-left
			.btn-menu.pull-left
	.row
		.cart.pull-left
			|16 500 ла
		.email.pull-left
		.btn-group.pull-right
			.btn-search.pull-left
			.btn-cam.pull-left