header
	.row
		.logo.pull-left
			img(src="../images/m-header-logo.png", alt="")
		.phone.pull-left
			|8-800-200-80-30
	.row
		a(href="#").btn.btn-cart.pull-left
		//- .email.pull-left
		.btn-group.pull-right
			a(href="#").btn.btn-profile.pull-left
			a(href="#").btn.btn-menu.pull-left
		.btn-group.pull-right
			a(href="#").btn.btn-search.pull-left
			a(href="#").btn.btn-cam.pull-left
		