doctype html5
html
	head
		include ./utils/head.jade
	body
		include ./utils/header.jade
		.slider-holder
			.slider
				.item
					p
						|ВАША БЕЗОПАСНОСТЬ - НАША РАБОТА
					img(src="", alt="")
					p.caption
						|ПОДКЛЮЧЕНИЕ ЛЮБОЙ КАМЕРЫ К ОБЛАКУ
				.item
					p
						|ВАША БЕЗОПАСНОСТЬ - НАША РАБОТА
					img(src="", alt="")
					p.caption
						|ПОДКЛЮЧЕНИЕ ЛЮБОЙ КАМЕРЫ К ОБЛАКУ
				.item
					p
						|ВАША БЕЗОПАСНОСТЬ - НАША РАБОТА
					img(src="", alt="")
					p.caption
						|ПОДКЛЮЧЕНИЕ ЛЮБОЙ КАМЕРЫ К ОБЛАКУ
				.item
					p
						|ВАША БЕЗОПАСНОСТЬ - НАША РАБОТА
					img(src="", alt="")
					p.caption
						|ПОДКЛЮЧЕНИЕ ЛЮБОЙ КАМЕРЫ К ОБЛАКУ
				.item
					p
						|ВАША БЕЗОПАСНОСТЬ - НАША РАБОТА
					img(src="", alt="")
					p.caption
						|ПОДКЛЮЧЕНИЕ ЛЮБОЙ КАМЕРЫ К ОБЛАКУ
			.slider-info
				dl
					dt
						|NET-NORD
					dd
						|ОБЛАЧНЫЙ СЕРВИС ВИДЕОНАБЛЮДЕНИЯ ЧЕРЕЗ ИНТЕРНЕТ
				p
					|net-nord дает вам возможность просматривать запись с ваших видеокамер с любого устройства в любой точке мира.
		include ./common/observation.jade
		.reasons-holder
			.reasons-header
				|5 причин выбрать net-nord
			ul
				li
					p
						|Хранение архивных видеозаписей на облачном сервере «Нэт-норд»
				li
					p
						|Хранение архивных видеозаписей на облачном сервере «Нэт-норд»
				li
					p
						|Хранение архивных видеозаписей на облачном сервере «Нэт-норд»
				li
					p
						|Хранение архивных видеозаписей на облачном сервере «Нэт-норд»
				li
					p
						|Хранение архивных видеозаписей на облачном сервере «Нэт-норд»
		include ./common/news-index.jade
		.form-holder
			form(action="")
				.form-header
					|ОСТАВЬТЕ ЗАЯВКУ НА ПОДКЛЮЧЕНИЕ
				input(type="text", placeholder="Иван Петров")
				input(type="text", placeholder="+7 (910) 234-45-45")
				input(type="email", placeholder="somebody@gmail.com")
				textarea(placeholder="Системы видеонаблюдения — это основное средство технической безопасности и сбора информации,")
		include ./utils/footer.jade
		include ./utils/scripts.jade