doctype html5
html
	head
		include ./utils/head.jade
	body
		include ./utils/header.jade
		include ./utils/breadcrumbs.jade
		.news-page-holder
			img(src="images/m-news-content.png", alt="").news-page-image
			article.news-page-content-holder
				time.date
					|21.08.2014
				h2.news-page-header
					|SVI-625M – IP-камера с моторизованным объективом и интеллектуальным подогревом
				p.news-page-content
					|Sven IC-720 позволяет передавать изображение хорошего качества с большой скоростью и без задержек. Она подойдет большинству пользователей и обеспечит вам качественные разговоры с собеседниками благодаря камере 0.3 МП. В данной модели имеется встроенный микрофон, что позволит разговаривать без специальных наушников, фокусировку можно настроить по своему желанию вручную. К компьютеру камера Sven IC-720 подключается с помощью USB 2.0.Sven IC-720 позволяет передавать изображение хорошего качества с большой скоростью и без задержек. Она подойдет большинству пользователей и обеспечит вам качественные разговоры с собеседниками благодаря камере 0.3 МП.<br/><br/> В данной модели имеется встроенный микрофон, что позволит разговаривать без специальных наушников, фокусировку можно настроить по своему желанию вручную. К компьютеру камера Sven IC-720 подключается с помощью USB 2.0.<br/><br/>
					a(href="#")
						|В данной модели имеется встроенный микрофон, что позволит разговаривать без специальных наушников, фокусировку можно настроить по своему желанию вручную. К компьютеру камера Sven IC-720 подключается с помощью USB 2.0.
			.btn-md.btn-back-to-news.centered
				|Вернуться к новостям
		include ./common/socials.jade
		include ./utils/footer.jade
		include ./utils/scripts.jade