////////////UI//////////

// Цвет ссылок
$link_color_default: #089fd1;

// Обычной кнопки
	// Фон
$btn_bg_default: #0ca1d2;
	// Цвет текста
$btn_color_default: #fff;
	// Цвет границы
$btn_border_default: #fff;

// Кастомная кнопка #1 (Показа еще, загрузить еще)
	// Фон
$btn_bg_custom1: #fff;
	// Цвет текста
$btn_color_custom1: #039ed0;
	// Цвет границы
$btn_border_custom1: #089fd1;

// Кастомная кнопка #2 (Отправить форму)
	// Фон
$btn_bg_custom2: #41d0ff;
	// Цвет текста
$btn_color_custom2: #fff;
	// Цвет границы
$btn_border_custom2: #fff;

// Фон кнопки профиля
$profile_btn_bg: #0587b2;
// Фон кнопки меню
$settings_btn_bg: #41d0ff;
// Фон кнопки поиска
$search_btn_bg: #0d2d3e;

	// Фон кнопки показать все новости
$news_all_bg: #0ca1d2;
	// Цвет текста кнопки показать все новости
$news_all_color: #fff;

	// Фон кнопки отправить форму
$submit_bg: #41D0FF;
	// Цвет текста кнопки отправить форму
$submit_color: #fff;

	// Фон кнопки добавить в корзину
$to_cart_bg: #0ca1d2;
	// Цвет текста кнопки добавить в корзину
$to_cart_color: #fff;

// Фон кнопки показать еще
$loadmore_bg: #fff;
	// Цвет текста показать еще
$loadmore_color: #0ca1d2;
	// Цвет границы
$loadmore_border: #0ca1d2;

// Фон кнопки применить фильтр
$filter_bg: #fff;
	// Цвет текста показать еще
$filter_color: #0ca1d2;
	// Цвет границы
$filter_border: #0ca1d2;

// Фон кнопки Вернуться к новостям
$back_to_news_bg: #0ca1d2;
	// Цвет текста кнопки Вернуться к новостям
$back_to_news_color: #fff;
	// Цвет границы кнопки Вернуться к новостям
$back_to_news_border: #0ca1d2;

// Фон кнопки камеры
$cam_btn_bg: #47b9e4;
// Плашка хиты продаж
	// Фон
$hits_bg: #7fb737;
	// Цвет текста
$hits_color: #fff;

	// SLIDER UI
		// Цвет текста
		$slider_color_default: #fff;
		// Кнопки управления у слайдера
		$slider_controls_bg: #0ca1d2;
		// Цвет стрелочки
		$slider_controls_arrow: #fff; 
		// Кнопки индикаторы
			// Обычное состояние
		$slider_indicators_default: #41d0ff;
			// Активное состояние
		$slider_indicators_active: #fff;
			// Граница индикатора
		$slider_indicators_border: #4cd3ff;

	//////////SOCIALS//////////
			// Цвет текста социальных кнопок
		$social_color_default: #fff;

			// Facebook
				// Фон
		$facebook_bg: #5270ab;
				// Границы
		$facebook_border: #4666a5;

			// Vk
				// Фон
		$vk_bg: #3d5c7f;
				// Границы
		$vk_border: #335478;

			// twitter
				// Фон
		$tweet_bg: #5cabcb;
				// Границы
		$tweet_border: #58a9ca;
		
			// links
				// Фон
		$links_bg: #7fb737;
				// Границы
		$links_border:	#77b32b;


//////////////BODY/////////////////////
		// Фон
	$body_bg: #fff;

//////////////HEADER//////////////////

	// Фон хэдера по умолчанию 
	$header_bg: #0ca1d2;
	// Фон корзинки
	$header_cart_bg: #0f3b4d;
	// Фон области с emailом
	$header_email_bg: #134d60;
	// Нижняя граница хэдера
	$header_border_bottom: #d9dedf;

	// DROPPED MENU

		// Фон
		$dropped_menu_bg_default: #0587b2;
		// При нажатии
		$dropped_menu_bg_active_default: #41D0FF;
		// Цвет
		$dropped_menu_color_default: #fff;
	
	// SEARCH FORM

		$dropped_searc_from_bg_default: #134d60;
		$dropped_searc_from_color_default: #416e88;


//////////////BREADCRUMBS////////////
	
	// Фон
	$breadcrumbs_bg: #f2f2f2;
	// Цвет крошки обычное состояние
	$breadcrumbs_color_default: #0c546d;
	// Активное состояние
	$breadcrumbs_color_active: #758788;
	// Разделитель
	$breadcrumbs_divider: #758788;
	// Границы
	$breadcrumbs_border: #eaebe8;
	// Верхняя граница
	$breadcrumbs_border_top: #f6f5f5;


//////////////SHOP////////////

$filter_header_bg: #f2f2f2;
$filter_header_color_default: #6a7d7e;
$filter_body_bg: #fff;
$filter_borders: #ebeded;

//////////////INDEX//////////////////
	
	//////////SLIDER
		// Фон у слайдера
	$slider_bg_default: #0ca1d2;
		// Фон у кэпшнена
	$slider_caption_bg_default: #0ca1d2;
		// Паллелограм внутри слайдера
	$slider_parrgram_bg: #0587b2;
		// Треугольники параллелограма
	$slider_parrgram_triangles_bg: #0ca1d2;
		// Цвет определения
	$slider_dt_color: #f8f044;

	//////////OBSERVE
	$observe_bg: #fff;

	//////////REASONS

		// Заголовок с причинами
	$reason_header_bg: #0587b2;
		// Фон поверхности с причиной
	$reason_bg: #0ca1d2;
		// Нижняя граница у причины
	$reason_border_bottom: #41d0ff;
		// Цвет текста у причины
	$reason_color: #fff;

	//////////FORM
		// Цвет фона
	$form_bg: #0587b2;
		// Цвет текста
	$form_color: #fff;

//////////////FOOTER//////////////////

$footer_bg_default: #fff;
$footer_bg_custom1: #0587b2;
$footer_color_default: #fff;
$footer_color_custom1: #393939;
$footer_color_custom2: #08a0d1;

/////////////NEWS///////////////////
	// Цвет текста у превьюшки новости
$news_preview_color: #4b4b4b;
	// Цвет текста у превьшки даты новости
$news_preview_date_color: #16a5d4;
	// Нижняя граница у превьюшки
$news_preview_border_bottom: #e7ebeb;



/////////////SHOP///////////////////

$item_border_default: #bbcbcc;
$item_name_default: #1d4958;
$item_desc_default: #95a5a6;
$item_price_default: #0ca1d2;


/////////////ITEM///////////////////

$item_page_chars_bg_default: #fff;
$item_page_chars_bg_custom1: #0ca1d2;

$item_page_chars_color_default: #fff;
$item_page_chars_color_custom1: #0ca1d2;
$item_page_chars_color_custom2: #748687;

// tabs menu
$item_page_tabs_bg: #d7dddd;
$item_page_tabs_border: #d7dddd;
$item_page_tabs_color: #1d4958;

/////////////SOCIAL///////////////////

$socials_border_default: #d7dddd;

/////////////NEWS-PAGE/////////////////// 

// Цвет заголовока
$news_page_header_color_default: #1d4958;
// Цвет контента
$news_page_content_color_default: #748687;
// Цвет ссылок в контенте
$news_page_content_a_color_default: #0ca1d2;