@import "../../1_utils/colorsheme.scss";
@import "../../1_utils/mixins.scss";
.shop-holder
{
	.filter
	{
		input[type="radio"],input[type="checkbox"]
		{
			display: none;
		}
		padding: 1rem 2rem 0 2rem;
		.shop-drop-down
		{
			margin: 0 auto .5rem;
			width: 100%;
			border: 1px solid $filter_borders;
			.drop-holder
			{
				padding: .8rem 0 0 0;
			}
			label
			{
				display: block;
				padding: 0 0 0 3rem;
				margin: .8rem 0 .8rem 0;
				&:first-of-type
				{
					margin-top: 0;
				}
			}
			.dd-header
			{
				height: 3.375rem;
				width: 100%;
				display: block;
				position: relative;
				font-family: "PFDinDisplayPro-Regular";
				color: $filter_header_color_default;
				text-transform: uppercase;
				font-size: 1.15rem;
				text-decoration: none;
				padding: 1.2rem 0 0 2rem;
				background: $filter_header_bg;
				border-bottom: 1px solid $filter_borders;

				&::before
				{
					position: absolute;
					left: .8rem;
					top: 1.2rem;
					display: block;
					width: 0;
					content: '';
				    height: 0;
				    border-top: .4rem solid transparent;
				    border-left: .5rem solid #0f4a5d;
				    border-bottom: .4rem solid transparent;
				}
			}
			.dd-header.active
			{
				&:before
				{
					left: .6rem;
					top: 1.35rem;
					width: 0;
				    height: 0;
				    border-left: .4rem solid transparent;
				    border-right: .4rem solid transparent;
				    border-top: .5rem solid #0f4a5d;
				}
			}
		}
		.shop-drop-down.categories, .shop-drop-down.option, .shop-drop-down.price
		{
			label
			{
				background: url(../images/m-uncheckedradio.png) no-repeat 1.6rem 50%;
				background-size: 1rem 1rem;
			}
			label.checked
			{
				background: url(../images/m-checkedradio.png) no-repeat 1.6rem 50%;
				background-size: 1rem 1rem;
			}
				
		}
		.shop-drop-down.producer, .shop-drop-down.resolution
		{
			label
			{
				background: url(../images/m-uncheckedselect.png) no-repeat 1.6rem 50%;
				background-size: 1rem 1rem;
			}
			label.checked
			{
				background: url(../images/m-checkedselect.png) no-repeat 1.6rem 50%;
				background-size: 1rem 1rem;
			}
		}
	}
}
.show-result-holder
{
	padding: 1rem 1rem 0 1rem;
	.listitem
	{
		width: 100%;
		.item
		{
			width: 18rem;
			float: left;
			padding: 1.5rem;
			border: 1px solid $item_border_default;
			margin: 0 2.5rem 3.5rem 0;
			img
			{
				height: 12rem;
				display: block;
				margin: 0 auto;
			}
			p
			{
				text-align: center;
				font-size: 1.2rem;
				font-family: "PFDinDisplayPro-Bold";
			}
			.name
			{
				color: $item_name_default;
				
				margin: 0 0 .2rem 0;
			}
			.article
			{
				color: $item_name_default;
				margin: 0 0 .7rem 0;
			}
			.desc
			{
				color: $item_desc_default;
				font-family: "PFDinDisplayPro-Regular";
				margin: 0 0 1.2rem;
			}
			.price
			{
				font-family: 'PTSansBold';
				font-size: 1.8rem;
				font-weight: bold;
				color: $item_price_default;
				margin: 0 0 1.2rem 0;
			}
			a.btn-to-cart
			{
				text-decoration: none;
			}
		}
		&::after
		{
			@include clear();
		}
	}
}

